.image-fon{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    background-size: cover;
    height: 100vh;

    img {
        opacity: .6;
        z-index: 0;
    }
}

.news-page{
    width: 100%;
    flex-direction: column;
    padding-top: 3rem;
    // background: rgb(56,227,227);
    // background: linear-gradient(152deg, rgba(56,227,227,0.7203256302521008) 17%, rgba(0,0,0,1) 49%, rgba(36,197,198,0.711922268907563) 79%);
}

.news-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.all-content{
    width: 100%;
    z-index: 2;
    display: flex;
    padding: 5%;

    h1{
        color: white;
        font-size: 3rem;
        z-index: 2;
    }
}

.news-wrapper{
    width: 55%;
    z-index: 2;
    padding: 1rem;
    background-color: #636363;
    opacity: .9;
    margin-left: -36%;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 5px 10px 2px rgb(0, 0, 0) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgb(0, 0, 0) inset;
    box-shadow: 0px 5px 10px 2px rgb(0, 0, 0) inset;


    h2{
        color: rgb(255, 255, 255);
    }

    h1{
        color: rgb(255, 255, 255);
    }
}



@media(max-width: 1024px){
    .all-content{
        padding: 0;
        padding-left: 10%;
    }


    .news-wrapper{
        width: 95%;
        padding: 0;
        overflow: hidden;
        margin-left: 0;

        h2{
            font-size: 17px;
            margin: 10px;
        }
    
        h1{
            font-size: 27px;
            margin:5px;
        }
    }
}