.images{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
    min-height: 100vh;

    img {
        opacity: .8;
        z-index: 0;
    }
}

.iframe{
    width: '80vh';
    height:'44vh';
    margin: '1rem';
}

.gallery-page{
  width: 100%;
  flex-direction: column;
  padding-top: 3rem;
  z-index: 1;
}

.gallery-wrapper{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}


@media(max-width: 1024px){
    .iframe{
        width: 100%;
        margin: 0;
    }
}